@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    position: relative;
}

h1 {
    font-size: 1.75rem;
    font-weight: bold;
}

button,
.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    gap: 4px;
}

.button--outline {
    border: 1px solid;
    border-radius: 8px;
}

.button-lg {
    height: 52px;
    font-weight: bold;
}

.button-md {
    height: 36px;
    font-weight: 600;
}

.button--fill {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
}

.map-container {
    height: 500px;
    width: 800px;
}

::-webkit-scrollbar {
    height: 0.3rem;
}

::-webkit-scrollbar-track {
    background-color: rgb(235, 234, 234);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

.filter-row ::-webkit-scrollbar {
    display: none !important;
}

/* Animation */
.slide-down--disappear {
    animation: slide-down-disappear 300ms ease-in-out 0s 1 normal forwards;
    display: none;
}

.slide-up--appear {
    animation: slide-up-appear 300ms ease-in-out 0s 1 normal forwards;
}

.slide-up--disappear {
    animation: slide-up-disappear 300ms ease-in-out 0s 1 normal forwards;
    display: none;
}

.slide-down--appear {
    animation: slide-down-appear 300ms ease-in-out 0s 1 normal forwards;
}

@keyframes slide-up-appear {
    0% {
        transform: translateY(100%);
        opacity: 0;
        display: none;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-down-disappear {
    0% {
        transform: translateY(10%);
        opacity: 1;
    }

    50% {
        transform: translateY(100%);
        opacity: 0.75;
        transform: scale();
    }

    75% {
        transform: translateY(100%);
        opacity: 0.5;
    }

    100%{
        opacity: 0;
        display: none !important;
    }
}

@keyframes slide-down-appear {
    0% {
        transform: translateY(-100%);
        opacity: 0;
        display: none !important;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slide-up-disappear {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
        display: none !important;
    }
}

:root {
    --primary-color: #329a9a;
}